Ans 1: Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.

Ans 2: Data types in Python that can be changed, i.e. elements in it can be modified after creation are called mutable data types whereas the data types which cannot be modified once created and its elements cannot be changed are the immutable data types in Python.
Mutable- For eg. (lists, dictionaries)
Immutable- For eg. (Tuples, strings)

Ans 3: Tuples are immutable whereas Lists are mutable.

Tuples use () to enclose elements whereas lists use [] to enclose elements.
       
  Lists are use to store dynamic data whereas Tuples are used to store fixed data.

Ans 4: In Python, Dictionaries store data as key-value pairs using a hash table internally, where each key is hashed to determine its unique index, allowing fast access, insertion, and deletion.

Ans 5: Sets are used instead of a list in Python when we need to:

1. Automatically remove duplicates

2. Check membership efficiently (sets use hashing and are faster than lists for in checks)

3. Perform set operations like union, intersection, and difference quickly.

Ans 6: A String in Python is an odered sequence of characters enclosed in single or double quotes.

Strings are different from Lists as strings hold only characters while Lists can hold elements of various data types.

Strings are immutable whereas Lists are mutable.

Strings are used for text entries whereas Lists are used for entering different elements in sequence or collection of different items.

Strings are enclosed within " " or ' ' (double quotes or single quotes) whereas Lists are enclosed wihin squared brackets [ ].

Ans 7: Tuples ensure data integrity in Python by being immutable meaning their contents cannot be changed after creation. This prevents accidental modifications and helps protect fixed data throughout a program and integrates the data in fixed format ensuring data integrity.

Ans 8. A hash table in a Python dictionary refers to the internal data structure that maps keys to values using a hash function, allowing operations like fast lookups, insertions, and deletions based on the key's hash values in a dictionary.

Ans 9: Yes, Lists can contain different data types in Python because Python is a dynamically typed language, and each element in a list is just a reference to an object, regardless of its type.

Ans 10: Strings are immutable in Python because to ensure data integrity, security, and performance—once created, they cannot be changed, which makes them safe for use as keys in dictionaries, allows memory optimization through interning, and prevents unexpected side effects or modifications in programs.

Ans 11: Dictionaries allow labeling data with meaningful keys, improving code readability and structure whereas Lists rely on index positions, which can be unclear and error-prone.

With dictionaries, you can access data by name, not position whereas in lists, you need to remember or track the index of each element.

Key in dictionary is faster than than value in List.

Ans 12: Tuples can be preferable to be used over a list where you want to store fixed and unchangeable data.

A scenario where tuple would be preferable than a List is when entering Bank details of a person or entering passwords.

Ans 13: In Python, sets automatically remove duplicate values — they only store unique elements, so if you add a duplicate, it’s ignored.

Ans 14: The 'in' keyword in Python is used to check the membership of a member in the List or a Dictionary.
The 'in' keyword in Lists checks whether an element is present in the List or not whereas in Dictionaries it checks whether a key is present in the dictionary or not.

Ans 15: No, We cannot modify the elements of a Tuple because they are immutable data structures and once created, its elements cannot be modified.
Tuples are an odered, immutable collection of elements just like Lists. But once created its elements cannot be changed. The immutability of tuples in Python provide data safety and easy processiing of data.

Ans 16: A nested dictionary in Python is a dictionary that contains another dictionary (or dictionaries) in it as one of its elements. It allows you to create more complex data structures, like tables, trees etc.

For Example:

In [ ]:
cities = {
    "New York": {
        "country": "USA",
        "population": 8419000,
        "landmarks": ["Statue of Liberty", "Empire State Building"]
    },
    "Paris": {
        "country": "France",
        "population": 2141000,
        "landmarks": ["Eiffel Tower", "Louvre Museum"]
    },
    "Tokyo": {
        "country": "Japan",
        "population": 13960000,
        "landmarks": ["Tokyo Skytree", "Senso-ji Temple"]
    },
    "London": {
        "country": "UK",
        "population": 7880000,
        "landmarks": ["BigBen", "Buckingham Palace"]
    }
}
#Accessing Elements
print(f"Population of New York: {cities['New York']['population']}")
print(f"One landmark in Paris: {cities['Paris']['landmarks'][0]}")

Population of New York: 8419000
One landmark in Paris: Eiffel Tower

Ans 17: Accessing elements in a dictionary in Python has an average time complexity of O(1), constant time due to hash table implementation, but in rare worst-case scenarios (like many hash collisions), it can degrade to O(n).

For O(1): is due to
1. Python hashes the key to find its location in memory.

2. It then directly jumps to that location using the hash—no need to search linearly.

3. This gives near-instant lookup time under normal conditions.

For O(n):- is due to
1. Hash collisions: Different keys may produce the same hash.

2. In that case, Python uses techniques like open addressing or chaining, which can degrade performance.

3. If many keys collide, you may need to linearly scan a portion of the dictionary.


In Python, dictionaries are implemented using hash tables, which makes element access very efficient.

Ans 18: Lists: It is an odered collection of elements that can be of any data type.
Dictionaries: Dictionaries are unordered, mutable collection of key value pairs where each unique key maps to a value and is defined using curly braces {}.
Syntax:- {"key"="value"}

Lists are sometimes preferred over dictionaries in Python because they are ordered, simpler, and more memory-efficient when dealing with sequential, index-based data without the need for key-value relationships.
Lists are used when we need an ordered colection of items and Dictionaries are needed when we need to associate names with values.

For example:
1. While maintaining a Playlist of songs which you will play on a trip and play 33ach son one by one.
2. To store the day-to-day tasks in a To do list and keep on deleting each item one by one in the list as it gets completed.

Ans 19: Dictionaries in Python were considered unordered because they were not arranged in the order of keys as inserted. Also, dictionaries are based on hash tables, which store keys based on their hash values, not their insertion position. So, you cannot refer to an item using its index. Dictionaries hold key:value pairs and keys are stored wherever their hash value pointed in the internal structure, not in any predictable order.

The key based data-retrieval is fast and the time complexity is less O(1) as we retrieve values by key and not by order or index. It makes the data retrieval fast as you can directly retrieve or access values by their names or keys and don't have to remember the index to fetch the elements.

Ans 20: Data retrieval in Dictionaries as compared to Lists

1. Data in the form elements can be accessed in Lists using indexes whereas in case of Dictionaries, data is accessed usinng key names.
2. In Lists, indexes can be integers whereas keys in Dictionaries can be numbers, strings etc.
3. Searching or accessing an element in a List can be slower if you do not know the index as compared to a dictionary if you don't know the key as the Lists go through scanning of each element one by one.

# Practical Questions:-

Ans 1:

In [ ]:
# code to create a string with your name and print it
name="Shreya"
print("My name is:", name)

My name is: Shreya

Ans 2:

In [ ]:
#To find out the length of the string
string="Hello World"
print(len(string))

11

Ans 3:

In [ ]:
#Code to slice the first three characters from the string "Python Programming"
a="Python Programming"
print(a[0:3])

Pyt

Ans 4:

In [ ]:
#code to convert the string "hello" to uppercase
a="hello"
print("The string in upeer case is:", a.upper())

The string in upeer case is: HELLO

Ans 5:

In [ ]:
#Code to replace the word in the string
sen="I like apple"
new=sen.replace("apple","orange")
print(sen)
print("\nThe string after replacing the word is:\n ",new)

I like apple

The string after replacing the word is:
  I like orange

Ans 6:

In [ ]:
#Code to create a List with numbers 1-5 and print it
List={1,2,3,4,5}
print(List)

{1, 2, 3, 4, 5}

Ans 7:

In [ ]:
#Code to append the number 10 to the list
# Define the list
a = [1,2,3,4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

Ans 8:

In [3]:
#Code to remove 3 from the List
list1={1,2,3,4,5}
n=list1.remove(3)
print("Edited List: ",list1)

Edited List:  {1, 2, 4, 5}

Ans 9:

In [2]:
#To access the second element in the List
a=['a','b','c','d']
print("The second element in the List is:",a[1])

The second element in the List is: b

Ans 10:

In [3]:
#Code to reverse the list [10, 20, 30, 40, 50].
List= [10, 20, 30, 40, 50]
L1= List[::-1]
print("The reversed List is:\n",L1)

The reversed List is:
 [50, 40, 30, 20, 10]

Ans 11:

In [4]:
#Code to create a tuple with the elements 100, 200, 300 and print it
Tup= (100,200,300)
print("The tuple created is:\n",Tup)

The tuple created is:
 (100, 200, 300)

Ans 12:

In [9]:
#Code to access Second Last element in the Tuple
tuple= (10, 20, 5, 15)
print(tuple)
print("\nThe second to last element in the Tuple is:",tuple[2])

(10, 20, 5, 15)

The second to last element in the Tuple is: 5

Ans 13:

In [10]:
a=(10, 20, 5, 15)
x= min(a)
print("The minimum element in the tuple is:",x)

The minimum element in the tuple is: 5

Ans 14:

In [13]:
#Finding index of 'cat' from a tuple
anm=('dog','cat','rabbit')
y= anm.index('cat')
print("The index of 'cat' in the tuple is:",y)

The index of 'cat' in the tuple is: 1

Ans 15:

In [25]:
#Code to create a Fruit tuple and check if 'Kiwi' is present in it or not
fruits= ('apple','orange','kiwi','banana')
for i in fruits:
  if i=='kiwi':
    print("Yes, 'Kiwi' is present in the tuple.")
    break
else:
  print("No, 'Kiwi' is not present in the tuple.")

Yes, 'Kiwi' is present in the tuple.

Ans 16:

In [26]:
#Code to create a set with ('a','b','c' )
set={'a','b','c'}
print("Set is:",set)

Set is: {'b', 'c', 'a'}

Ans 17:

In [27]:
#Code to clear all the elements from the List
#List -> [], Tuple -> (), Set -> {}
list1=[1,2,3,4,5]
list1.clear()
print("The List after clearing all the elements:",list1)

The List after clearing all the elements: []

Ans 18:

In [28]:
#Code to remove the element 4 from the set {1, 2, 3, 4}
set={1,2,3,4}
set.remove(4)
print("The set after removal of 4:",set)

The set after removal of 4: {1, 2, 3}

Ans 19:

In [29]:
#Union of 2 sets
s1= {1,2,3}
s2= {3,4,5}
print("Union of sets s1 and s2:",s1|s2)

Union of sets s1 and s2: {1, 2, 3, 4, 5}

Ans 20:

In [30]:
#Write a code to find intersection of two sets
s1={1,2,3}
s2={2,3,4}
print("Intersection of 2 sets:", s1&s2)

Intersection of 2 sets: {2, 3}

Ans 21:

In [1]:
# Code to create a dictionary with the keys "name", "age", and "city", and print it
Person = {
    "Person1": {
        "Name": "Mayank",
        "Age": 20,
        "City": "Kolkata"
    },
    "Person2": {
        "Name": "Francis",
        "Age": 50,
        "City": "Jaipur"
    },
    "Person3": {
        "Name": "Jaya",
        "Age": 33,
        "City": "Pune"
    },

    }
print("The Dictionary is:\n",Person)

The Dictionary is:
 {'Person1': {'Name': 'Mayank', 'Age': 20, 'City': 'Kolkata'}, 'Person2': {'Name': 'Francis', 'Age': 50, 'City': 'Jaipur'}, 'Person3': {'Name': 'Jaya', 'Age': 33, 'City': 'Pune'}}

Ans 22:

In [8]:
#Code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
Dict = {
    "Person1": {
        "Name": "John",
        "Age": 25,
        }
    }
#Inserting new key-value pair

Dict["Person1"]["Country"]= "USA"

print("The Dictionary is:\n",Dict)

The Dictionary is:
 {'Person1': {'Name': 'John', 'Age': 25, 'Country': 'USA'}}

Ans 23:

In [9]:
#Code to access the value associated with key name
S = {"Name": "Alice", "Age": 30}
name_value= S["Name"]
print("Value associated with the key 'Name': ",name_value)

Value associated with the key 'Name':  Alice

Ans 24:

In [7]:
#Code to remove the key "age" from the dictionary
#Define the Dictionary
Person = {
    "Person1": {
          "Name": "Bob",
          "Age": 22,
          "City": "New York",
    }
}
Person["Person1"].pop("Age")
print("The dictionary will be:",Person)

The dictionary will be: {'Person1': {'Name': 'Bob', 'City': 'New York'}}

Ans 25:

In [10]:
#Code to check if the key 'City' exists in the dictionary
Person = {"Name": "Alice", "City": "Paris"}
if "City" in Person:
  print("Yes 'City' is present in the Dictionary.")
else:
  print("No 'City' is not present in the dictionary.")

No 'City' is not present in the dictionary.

Ans 26:

In [13]:
#Code to create a list, a tuple, and a dictionary, and print them all
List= [1, 2.2, 3, 4+5j, "Rohit"]
Tuple= ("True", 9, 7.655, (5,6), 2+9j)
Dic= {
    "Person1": {
      "Name": "Salma",
      "Age": 42,
      "Country": "Pakistan"
       },
    "Person2": {
        "Name": "Raha",
        "Age": 2,
        "Country": "Indonesia"
        }
    }
print("The List here is:",List)
print("The Tuple here is:",Tuple)
print("The Dictionary here is:",Dic)

The List here is: [1, 2.2, 3, (4+5j), 'Rohit']
The Tuple here is: ('True', 9, 7.655, (5, 6), (2+9j))
The Dictionary here is: {'Person1': {'Name': 'Salma', 'Age': 42, 'Country': 'Pakistan'}, 'Person2': {'Name': 'Raha', 'Age': 2, 'Country': 'Indonesia'}}

Ans 27:

In [19]:
#Code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the Result
List = [83, 55, 27, 42, 95]
n= len(List)
for i in range (0,n):
  for j in range (0,n-i-1):
    if List[j]>List[j+1]:
      List[j], List[j+1] = List[j+1], List[j]
print("The List in Ascending order is:",List)

The List in Ascending order is: [27, 42, 55, 83, 95]

Ans 28:

In [20]:
#Code to create a list with strings and print the element at the third index.
List= ["Good", "Bad", "More", "Less", "win"]
a= List[2]
print("The element at the third index is:",a)

The element at the third index is: More

Ans 29:

In [22]:
#Code to combine two dictionaries into one and print the result
Dict1= {
    "Jaipur":{
        "State": "Rajasthan",
        "Pin Code": 234561,
        "Roads": "Good"
    },
    "Gangapur":{
        "State": "Rajasthan",
        "Pin Code": 321009,
        "Roads": "Bad"
    }
}

Dict2={
    "Dog": {
        "Name": "Bruno",
        "Age": 3,
        "Color": "Light Brown"
    },
    "Cat": {
        "Name": "Kitty",
        "Age": 5,
        "Color": "Black & White",
    }
}

Dict1.update(Dict2)
print("The combined Dictionary is:", Dict1)

The combined Dictionary is: {'Jaipur': {'State': 'Rajasthan', 'Pin Code': 234561, 'Roads': 'Good'}, 'Gangapur': {'State': 'Rajasthan', 'Pin Code': 321009, 'Roads': 'Bad'}, 'Dog': {'Name': 'Bruno', 'Age': 3, 'Color': 'Light Brown'}, 'Cat': {'Name': 'Kitty', 'Age': 5, 'Color': 'Black & White'}}

Ans 30:

In [24]:
#Code to convert a List of Strings into Set
Str_List=["Major", "Minor", "Shoulder", "Mayor"]
print(Str_List)
Str_Set= set(Str_List)
print("The Set converted from List is:", Str_Set)

['Major', 'Minor', 'Shoulder', 'Mayor']
The Set converted from List is: {'Major', 'Mayor', 'Minor', 'Shoulder'}